* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  --text-color: #0a2ff1;
  --text-background-color: #3ffff3;
}

.main__container {
  margin: 5rem 10rem;
}

.main__title {
  font-size: 7.86rem;
  color: var(--text-color);
}

.main__title span {
  background-color: var(--text-background-color);
}

.main__subtitle {
  font-size: 3.06rem;
  color: var(--text-color);
  margin: 5rem 0rem;
}

.image {
  width: 40rem;
  height: auto;
}

.image__container {
  position: relative;
  background-image: url(./assets/fondo.JPG);
  width: fit-content;
}