* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --primary-color: black;
  --secondary-color: white;
  --blue-color: #0a2ff1;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

body {
  background-color: var(--blue-color);
}

main {
  background-color: var(--secondary-color);
  margin-top: 5vh;
  margin-bottom: 12vh;
}

main div:nth-child(2) {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.date {
  font-weight: 900;
  font-size: 6.6rem;
  padding-bottom: 6rem;
}

.date p {
  color: var(--blue-color);
}

.black h1{
  font-size: 19.73rem;
}

.friday {
  padding: 12rem 0rem;
}

.friday h1{
  font-size: 21.73rem;
}

.discount {
  font-size: 4.8rem;
  font-weight: 600;
  color: var(--blue-color);
}

.discount strong{
  font-size: 4.8rem;
  font-weight: 900;
}

.discount strong:nth-child(2){
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.not-lose {
  font-size: 5.86rem;
  color: var(--blue-color);
  padding-top: 5rem;
}