:root {
  --bs-body-font-family: "Source Sans 3", sans-serif;
  --text-color: #04146c;
}

h1 {
  color: var(--text-color) !important;
  font-size: 5.166rem !important;
}

p {
  color: var(--text-color) !important;
  font-size: 1.333rem !important;
}

button {
  background-color: var(--text-color) !important;
  font-size: 1.166rem !important;
  min-width: 9.375rem !important;
}

img {
  width: 100% !important;
  height: auto !important;
}

@media screen and (max-width: 362px) {
  .button__2 {
    margin-top: 0.8rem !important;
    margin-right: 0.5rem !important;
  }
}

@media screen and (min-width: 768px) {
  img {
    width: 80% !important;
    height: auto !important;
  }
}