* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  --primary-color: #0a2ff1;
  --secondary-color: #04146c;
  --accent-color: #eff2ff;
}

@font-face {
  font-family: "Coolvetica";
  src: url('../assets/fonts/coolvetica-rg.otf');
  font-weight: 400;
  font-style: normal;
}

main {
  margin: 5rem;
}

h1 {
  font-family: "Coolvetica", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  font-size: 12rem;
  margin-bottom: 8rem;
}

.services__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.service__container {
  width: 20%;
  padding: 2em;
  background-color: var(--accent-color);
  border-radius: 0.8rem;
}

.service__container div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.service__container div:first-child h2 {
  font-size: 3.733rem;
  color: var(--primary-color);
  font-weight: 900;
}

.icon {
  width: 25%;
}

#apple__icon {
  width: 18%;
}

.service__description {
  font-size: 2.4rem;
  color: var(--secondary-color);
  font-weight: 400;
  text-align: center;
}